/*
 * Royal Institute of Technology
 * 2016 (c) Kim Hammar Marcus Blom
 */

/* 
    Created on : 2016-jan-15, 12:45:39
    Author     : kim
*/
html
{
    font-family: "Times New Roman", Times, serif;
}
.title
{
    text-align: center;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}
.logo
{
    margin-right: 20px;
}
.footer
{
    text-align: center;
    margin-top: 75px;
}
.Critical
{
    color: red;
}
.Major
{
    color: pink;
}
.Minor
{
    color: orange;
}
.Warning
{
    color: yellow;
}
.Indeterminate
{
    color: greenyellow;
}
.Cleared
{
    color: green;
}
.requestResult
{
    margin-top: 15px;
}
.resultTitle
{
    font-weight:bold;
    margin-bottom: 10px;
}
.link_deco 
{
    color: inherit;
    text-decoration: none;
}
.getForm
{
    display: block;
    width: 100%;
    
}
.alarmsPerDay
{
    margin-bottom: 100px;
}
.alarmsDistribution
{
    margin-bottom: 100px;
}
.settingsLabel
{
    font-weight:bold;
    font-size: 110%;
}
.settingsValue
{
    margin-left: 30px;
    font-weight: normal;
}
.checkMany td
{
} 