/*
 * Royal Institute of Technology
 * 2016 (c) Kim Hammar Marcus Blom
 */

/* 
    Created on : 2016-jan-15, 12:45:39
    Author     : Kim Hammar
*/
html
{
    font-family: "Times New Roman", Times, serif;
}
.title
{
    text-align: center;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}
.logo
{
    margin-right: 20px;
}
.footer
{
    text-align: center;
    margin-top: 75px;
}
.column
{
    text-align: center
}
.bold
{
    font-weight: 900;
}
.Critical
{
    background-color: red;
}
.Major
{
    background-color: pink;
}
.Minor
{
    background-color: orange;
}
.Warning
{
    background-color: yellow;
}
.Indeterminate
{
    background-color: greenyellow;
}
.Cleared
{
    background-color: green;
}
.Criticaltext
{
    color: red;
}
.Majortext
{
    color: pink;
}
.Minortext
{
    color: orange;
}
.Warningtext
{
    color: yellow;
}
.Indeterminatetext
{
    color: greenyellow;
}
.Clearedtext
{
    color: green;
}
.requestResult
{
    margin-top: 15px;
}
.resultTitle
{
    font-weight:bold;
    margin-bottom: 10px;
}
.link_deco 
{
    color: inherit;
    text-decoration: none;
}
.getForm
{
    display: block;
    width: 100%;
    
}
.alarmsPerDay
{
    margin-bottom: 100px;
}
.alarmsDistribution
{
    margin-bottom: 100px;
}
.alarmsDistributionPie
{
    margin-bottom: 100px;
}
.severityDistribution
{
    margin-bottom: 100px;
}
.alarmsFrequency
{
    margin-bottom: 100px;
}
.settingsLabel
{
    font-weight:bold;
    font-size: 110%;
}
.settingsValue
{
    margin-left: 30px;
    font-weight: normal;
}
.notificationBar
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;  
    font-size: 160%;
}
.hideLink
{
    font-weight:bold;
    font-style:italic;
}
.key
{
    font-weight: bold;
    font-size: 120%;  
    padding-right: 10px;
}
.logout
{
    margin-top: 10px;
    text-align: center;
}
.logoutLink
{
    text-align: center;
}
.panelrow td
{
    padding: 7px 1px;   
}
.alarmsBootRow
{
    margin-top: 50px;
}